Nama : Husni Na'fa Mubarok
<br>NIM : 121450078
<br>Kelas : RA

In [72]:
import openpyxl
from functools import reduce
import math

wb = openpyxl.load_workbook('hm.xlsx')
sheet = wb.active
rows = sheet.max_row
cols = sheet.max_column
watch = []
for i in range(4, rows + 1):
    for j in range(2, cols+1,2):
        cell = sheet.cell(row=i, column =j)
        if cell.value is None:
            continue
        watch.append(str(cell.value).strip())
        
id = []
item = []
quantity = []
unit_price = []
for i in range(0, len(watch), 4):
    id.append(int(watch[i]))
    item.append(watch[i+1].strip())
    quantity.append(int(watch[i+2]))
    unit_price.append(float(watch[i+3].strip()))
inventory = []
for i, v in enumerate(id):
    inventory.append((id[i], item[i], quantity[i], unit_price[i]))
print(inventory)

[(1, 'Audemars Piguet', 65, 450.5), (2, 'Vacheron Constantin', 1, 790.0), (3, 'Patek Philippe', 18, 664.99), (4, 'Blancpain', 45, 356.0), (5, 'Chopard', 23, 1264.3), (6, 'IWC Schaffhausen', 11, 99.99), (7, 'Rolex', 0, 520.0), (8, 'Ulysse Nardin', 34, 340.0), (9, 'Jaeger-LeCoultre', 2, 956.0), (10, 'Panerai', 8, 120.0)]

1.

Nomor 1A Menghitung Harga Termahal

In [32]:
print('---The most expensive watch---')
expensive_watch = max(unit_price)

print(f'The Most Expensive Watch = {expensive_watch}')

---The most expensive watch---
The Most Expensive Watch = 1264.3

Nomor 1B Sorting Harga dan disimpan dalam inventory

In [39]:
print('---Sorted by price---\n')

s = sorted(unit_price)
print(s)

print('\n--or--\n')

s = sorted(unit_price, key=lambda x:x)
print(s)

---Sorted by price---

[99.99, 120.0, 340.0, 356.0, 450.5, 520.0, 664.99, 790.0, 956.0, 1264.3]

--or--

[99.99, 120.0, 340.0, 356.0, 450.5, 520.0, 664.99, 790.0, 956.0, 1264.3]

3. Nomor 1C Memetakan harga dengan jam

In [54]:
print('---Dictionary---')

d = dict(map(lambda x: [x[1], round((x[2]) * (x[3]), 2)], inventory))
print(d)

print('\n--or--\n')

def make_dict(inventory):
    d2 = {}
    for i in inventory:
        watch_brand = i[1]
        total_cost = total_cost = round((i[2] * i[3]), 2)
        
        d2.update({watch_brand:total_cost})
    return d2

print(make_dict(inventory))

---Dictionary---
{'Audemars Piguet': 29282.5, 'Vacheron Constantin': 790.0, 'Patek Philippe': 11969.82, 'Blancpain': 16020.0, 'Chopard': 29078.9, 'IWC Schaffhausen': 1099.89, 'Rolex': 0.0, 'Ulysse Nardin': 11560.0, 'Jaeger-LeCoultre': 1912.0, 'Panerai': 960.0}

--or--

{'Audemars Piguet': 29282.5, 'Vacheron Constantin': 790.0, 'Patek Philippe': 11969.82, 'Blancpain': 16020.0, 'Chopard': 29078.9, 'IWC Schaffhausen': 1099.89, 'Rolex': 0.0, 'Ulysse Nardin': 11560.0, 'Jaeger-LeCoultre': 1912.0, 'Panerai': 960.0}

4. Nomor 1D

In [57]:
print("---New Inventory---\n")

def new_inventory(inventory):
    not_sold_out = []
    new_inv = []
    
    for i in inventory:
        if i[2]== 0:
            continue
        not_sold_out.append((i[0], i[1], i[2], i[3]))
    
    for i, v in enumerate(not_sold_out):
        not_sold_out[i] = list(not_sold_out[i])
        if not_sold_out[i][2] > 30:
            if not_sold_out[i][3] > 500:
                not_sold_out[i][3] -= 50
            else:
                not_sold_out[i][3] -= 30
        not_sold_out[i] = tuple(not_sold_out[i])
        
    inventory = not_sold_out
    
    for i, v in enumerate(inventory):
        print('(',inventory[i][1], '-', inventory[i][2],'items)', ' -> ',inventory[i][3],'eur')
        new_inv.append((inventory[i][0], inventory[i][1], inventory[i][2],inventory[i][3]))
        
    return new_inv

print('\n',new_inventory(inventory))

---New Inventory---

( Audemars Piguet - 65 items)  ->  420.5 eur
( Vacheron Constantin - 1 items)  ->  790.0 eur
( Patek Philippe - 18 items)  ->  664.99 eur
( Blancpain - 45 items)  ->  326.0 eur
( Chopard - 23 items)  ->  1264.3 eur
( IWC Schaffhausen - 11 items)  ->  99.99 eur
( Ulysse Nardin - 34 items)  ->  310.0 eur
( Jaeger-LeCoultre - 2 items)  ->  956.0 eur
( Panerai - 8 items)  ->  120.0 eur

 [(1, 'Audemars Piguet', 65, 420.5), (2, 'Vacheron Constantin', 1, 790.0), (3, 'Patek Philippe', 18, 664.99), (4, 'Blancpain', 45, 326.0), (5, 'Chopard', 23, 1264.3), (6, 'IWC Schaffhausen', 11, 99.99), (8, 'Ulysse Nardin', 34, 310.0), (9, 'Jaeger-LeCoultre', 2, 956.0), (10, 'Panerai', 8, 120.0)]

2.

In [74]:
id = []
for cell in sheet["B"]:
    if cell.value is not None:
        id.append(cell.value)
        
item = []
for cell in sheet["D"]:
    if cell.value is not None:
        cell.value = cell.value.strip()
        item.append(cell.value)
        
quantity = []
for cell in sheet["F"]:
    if cell.value is not None:
        quantity.append(cell.value)
        
unit_price =[]
for cell in sheet["H"]:
    if cell.value is not None:
        unit_price.append(cell.value)

inventory = []
for i, v in enumerate(id):
    if i == 0 or i == 1:
        continue
    inventory.append((id[i], item[i], quantity[i], float(unit_price[i])))

Nomor 2A

In [77]:
print('---The most expensive watch---')
res = reduce(inventory, map(lambda x: x[3], inventory))
print(f"The most expensive watch -> {res}")
price = []

---The most expensive watch---

TypeError: 'list' object is not callable

In [81]:
price = []
for i in inventory:
    price.append(i[3])

res2 = sorted(price, lambda x:x[3])
print(f"The most expensive watch -> {res2}")

TypeError: sorted expected 1 argument, got 2

In [ ]:
print('---Dictionary---')

d = dict(inverntory)
print(f'dict ->,{d})

In [66]:
print('---All watches with quantity greater than 30---')
# A list containing all watches with quantity greater than 30
gt = list(filter(lambda x: x[2] > 30, inventory))
print('quantity > 30 ->', gt)
for i, v in enumerate(gt):
    print(f'{gt[i][1]} - {gt[i][2]}')

---All watches with quantity greater than 30---
quantity > 30 -> [(1, 'Audemars Piguet', 65, 450.5), (4, 'Blancpain', 45, 356.0), (8, 'Ulysse Nardin', 34, 340.0)]
Audemars Piguet - 65
Blancpain - 45
Ulysse Nardin - 34

In [69]:
print("---New inventory---")
not_sold_out = list(map(lambda x: x[2] > 0, inventory))
for i, v in enumerate(not_sold_out):
    not_sold_out[i] = list(not_sold_out[i])
    if not_sold_out[i][2] > 30: # if quantity of watches > 30
        if not_sold_out[i][3] > 500: # if price > 500
            not_sold_out[i][3] -= 50
        else: # if price <= 500
            not_sold_out[i][3] -= 30
    not_sold_out[i] = tuple(not_sold_out[i])
inventory = not_sold_out
for i, v in enumerate(inventory):
    print('(',inventory[i][1], '-', inventory[i][2],'items)', ' -> ',inventory[i][3],'eur')

---New inventory---

TypeError: 'bool' object is not iterable